<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href={{url_for('static',filename='main.css' )}}>

    <title>
        Login file
    </title>
</head>

<body>
    <form method='get' action="http://localhost:5000/login">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="username"></input></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></input></td>
            </tr>
        </table>
        <button type='submit'>Submit</button>
    </form>
</body>

</html>